span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color:#71b43d;
  float:left;
  display: inline;
}
nav {
  display:block;
  margin-left: 9em;
  width: 960px;
}
#about .left, #pro .left{
  float:left;
  width: 50%;
  text-align:center;
}
#pro .right, #about .right{
  float:left;
  width: 50%;
  text-align:center;
}
.center {
  padding: 1em 0 1em 0;
  margin: 0 0 0 10em;
  width: 960px;
  min-height:215px;
}
.menu {
  list-style-type: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.menu li {
  display: inline;
  margin-left: 40px;
  color: white;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:visited{
  color: white;
}
.menu a:hover {
  color: #71b43d;
}
.grey-bg{
  background-color:#f7f7f7;
  }
.git-hub{
  color: #71b43d;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 0.9em;

}
h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
  text-align: center;
}
h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
}
header {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  padding: 10px;
  background-color:#222222;
}
footer {
  text-align: center;
}
.trombi {
  list-style-type: none;
}
.trombi img{
  display: block;
}
.trombi li {
  float: left;
  text-align: center;
  margin: 8px;
  width: 150px;
  height: 200px;
}
.strombi {
  width: 960px;
  margin:auto;
}
.zoom{
  zoom:150%;
  -moz-transform: scale(2);
}
