span {
  float:left;
  font-family: 'Kaushan Script', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: oblique;
  color:#71b43d;
}
nav {
  display:block;
  margin-left: 9em;
  width: 960px;
}
#about .left, #pro .left, #ban .left{
  float:left;
  width: 50%;
  text-align:center;
}
#pro .right, #about .right, #ban .right{
  float:left;
  width: 50%;
  text-align:center;
}
.center{
  padding: 1em 0 1em 0;
  margin: 0 0 0 10em;
  width: 960px;
  min-height:215px;
}
.center ul{
  list-style-type: none;
  text-align: center;
}
.menu {
  list-style-type: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
span #menu{
  text-align: left;
}
.menu li{
  display: inline;
  margin-left: 30px;
  color: white;
}
.left li, .right li{
  list-style-type: none;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:visited{
  color: white;
}
.menu a:hover {
  color: #71b43d;
}
.grey-bg{
  background-color:#f7f7f7;
  }
.git-hub{
  color: #71b43d;
  outline: none;
  text-decoration: none;
}
body {
  margin: 0;
  font-size: 0.9em;
}
h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
  /*text-align: center;*/
}
h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;
}
header {
  padding: 10px;
  background-color:#222222;
}
footer {
  text-align: center;
  background-color: black;
  color:#71b43d;
  padding:5px;
}
.trombi {
  list-style-type: none;
}
.trombi img{
  display: block;
}
.trombi li {
  float: left;
  text-align: center;
  margin: 8px;
  width: 150px;
  height: 200px;
}
.strombi {
  width: 960px;
  margin:auto;
}
.zoom{
  zoom:150%;
  -moz-transform: scale(2);
}
.form label, input{
    display: inline-block;
    width: 160px;
}.color{
  width: 90px;
}
h1{
  text-align: center;
  font-family: lobster;
  font-size: 3em;
}
form {
    margin: auto;/* Pour le centrer dans la page */
    width: 400px;
    padding: 1em;/* Pour voir les limites du formulaire */
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: lobster;
}
h3{
  text-align: center;
}
label, input{
    width: 160px;
}
textarea {
    vertical-align: top;/* Pour aligner correctement les champs multilignes et leurs étiquettes */
    height: 5em;/* Pour donner assez d'espace pour entrer du texte */
    resize: vertical;/* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement*/
}
button, p {
    text-align:center;
    margin: auto;
    border-radius: 2px;
}
#photo{
  display: block;
  /*padding:0 0 0 0px;*/
  margin:auto;
  width: 150px;
	height: 200px;
}
