span {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color:#71b43d;
  float:left;
  display: inline;
}
nav {
  display:block;
  margin-left: 9em;
  width: 960px;
}
.menu {
  list-style-type: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.menu li {
  display: inline;
  margin-left: 40px;
  color: white;
}
.menu a {
  text-decoration: none;
}
.menu a:visited{
  color: white;
}
.menu a:hover {
  color: #71b43d;
}
.grey-bg{
  background-color:#f7f7f7;
  }
.git-hub{
  color: #71b43d;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

}
section, footer{
  margin: 0 0 0 10em;
}

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: black;
}
h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: black;

}
header {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  padding: 10px;
  background-color:#222222;
  /*text-align: center;*/
}
footer {
  text-align: center;
}
